/* This is the top */

body {
    font-family: calibri, sans-serif;
    font-size: 10pt;
    color: #BBB;
    background-size: cover;
    user-select: none;
}


.flexbox {
    background-color: #EEE;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

.item {
    margin: 10px;
    border: 2px black solid;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items;
}

.item > div {
    margin: 6px;
}

#toyRoom {
    background-color: #FFF;
    width: 280px;
    height: 560px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    user-select: none;
    background-image: url('sky.jpg');
    background-position: center;
    background-size: cover;
}

#toyRoom:hover {
    box-shadow: 0px 0px 15px 0px gray;
}


.score {
    font-size: 20pt;
    padding: 10px;
    background-color: #FDD;
    text-align: center;
}


.info {
    padding: 20px;
    margin: 0px 50px 0px 0px;
    color: black;
    background-color: #DFD;
    text-align: left;
    float: right;
}

