/* This is the top */

body {
    font-family: calibri, sans-serif;
    font-size: 10pt;
    color: black;
    background-size: cover;
    user-select: none;
}


.flexbox {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.item {
    margin: 10px;
    border: 2px black solid;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.item > div {
    margin: 6px;
}

#toyRoom {
    width: 280px;
    height: 560px;
    position: relative;
    overflow: hidden;
    background-image: url('sky.jpg');
    background-position: center;
    background-size: cover;
}






#scoreBoard {
    font-size: 14pt;
    font-weight: bold;
    padding: 10px;
    background-color: #BDF;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

.numbers {
    background-color: rgba( 255, 255, 255, 0);
    box-shadow: 0px 0px 25px 0px white;
    border-radius: 12px;
    
    width: 120px;
    height: 30px;
    min-height: 30px;
    text-align: center;    
}






.info {
    padding: 20px;
    background-color: #BDF;
    text-align: left;
    float: right;
    line-height: 0.2;
}









